<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>My Example</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<div class="container-fluid">
<form method="post">
<div class="form-group has-success has-feedback">
  <label class="control-label" for="username">Search keyword</label>
  <input type="text" name="userinput" class="form-control" id="username" aria-describedby="usernameStatus" required>
</div>
    <div >
  <input type="submit" name="search" class="btn btn-primary btn-md" id="phone" aria-describedby="phoneStatus">
    </div>
</div>

<!-- jQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>